<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.cmov.airdesk" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WorkspaceListActivity"
            android:label="@string/title_activity_workspace_list"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".activities.CreateWorkspaceActivity"
            android:label="@string/title_activity_create_workspace" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WorkspaceListActivity" />
        </activity>
        <activity
            android:name=".activities.BrowseWorkspaceActivity"
            android:label="@string/title_activity_browse_workspace"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WorkspaceListActivity" />
        </activity>
        <activity
            android:name=".activities.ViewersActivity"
            android:label="@string/title_activity_viewers" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BrowseWorkspaceActivity" />
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name=".activities.FileEditorActivity"
            android:label="@string/title_activity_file_editor"
            android:parentActivityName=".activities.FileViewerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk.activities.FileViewerActivity" />
        </activity>
        <activity
            android:name=".activities.FileViewerActivity"
            android:label="@string/title_activity_file_viewer"
            android:parentActivityName=".activities.BrowseWorkspaceActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk.activities.BrowseWorkspaceActivity" />
        </activity>

        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />

    </application>

</manifest>
